.todoItem {
  --width-height: 50px;
  --font-size: 30px;
}
.todoItem {
  display: flex;
  background-color: #2d2d2d;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  &:hover {
    background-color: #3a3a3a;
    border-left: 2px solid red;
    padding: 5px 10px 5px 8px;
  }
  &__titleSection {
    width: 80%;
  }
  &__title {
    font-size: 25px;
    &_completed{
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
  &__removeBtn {
    color: black;
    font-size: var(--font-size);
    padding: 0px 10px;
    font-weight: bold;
    width: var(--width-height);
    height: var(--width-height);
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  &__completeBtn {
    font-size: var(--font-size);
    padding: 0px 10px;
    width: var(--width-height);
    height: var(--width-height);
    font-weight: bold;
    cursor: pointer;
    &:hover {
      .todoItem__completeBtn_completeBtnCheck {
        color: #00bd10;
      }
      .todoItem__completeBtn_completeBtnCross {
        color: #c30000;
      }
    }
  }
  &__completeBtnCheck {
    font-size: 35px;
    color: #00ff15;
  }

  &__completeBtnCross {
    color: red;
  }
}
